.heroBank{
	border: 5px solid orange;
}

.stage{
	border: 5px solid blue;
}

.enemyHp {
	background-color: black;
	width:100px;
}

.attackButton {
	background-color: red;
	padding: 5px;
	width: 65px;
	margin-top: 20px;
	border: 2px solid black;
}