
.hp {
	background-color: green;
	width:100px;
	display: none;
}

.attackButton {
	background-color: red;
	padding: 5px;
	width: 65px;
	margin-top: 20px;
	border: 2px solid black;
}

.heroPicked {
	display: none;
}

.enemyPicked {
	display: none;
}