body {
	background-color: khaki;
	width: 85%;
	margin: auto;
}

img {
	height: 170px;
	width: 120px;
	border: solid #2451a5 3.5px;
}

.villain {
	border: solid #b22013 3.5px;
}

.stage{
	background-color: grey;
}
.hp {
	background-color: green;
	width:100px;
	display: none;
	height:20px;
	border: 2px solid black;
}

.enemyHp{
	background-color: purple;
}

.attackButton {
	background-color: red;
	padding: 5px;
	width: 65px;
	margin-top: 20px;
	border: 2px solid black;
}

.status {
	background-color: white;
	width: 35%;
}

.msg {
	text-align: center;
	color: #545454;
}

#heroPicked {
	display: none;
}

#villainPicked {
	display: none;
}